body {
	background-color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
#container {
	background-color: white;
	width: 70%;
	text-align: left;
	border: 2px solid gray;
	margin: 0 auto;
}
#cabecera {
	background-color: #33a;
	color: white;
	margin: 0;
	box-shadow: 0 2px 20px 0 #3f3f3f;
	padding: 0.5em 0 0.5em 0.5em;
	font-weight: bold;
}
#cabecera #logo {
	width: 20px;
	vertical-align: middle;
}
#tagline {
	padding-left: 1em;
	font-size: 0.8em;
	font-weight: normal;
}
#container h1 {
	font-size: 20px;
	color: rgb(0, 0, 0);
}
#post {
	padding: 1em;
}
#footer {
	background-color: #474747;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	padding: 0.5em 0;
}
